<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App_ID</key>
	<string>6676374</string>
	<key>API_Key</key>
	<string>Wd8317g8l9go3WKBD2fihGbA</string>
	<key>Secret_Key</key>
	<string>6f712e33dd8cf13b665335793c6cbe95</string>
</dict>
</plist>
